* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  margin: 40px 90px;
  max-width: 1400px;
}
.center {
  text-align: center;
}

.dash {
  margin: 4px 0;
  width: 10%;
  height: 2px;
  background-color: black;
  transition: 0.7s ease-in-out;
}
.btns {
  text-align: center;
  text-decoration: none;
  width: 250px;
  height: 70px;
  background-color: #2b2b2b;
  color: #2b2b2b;
  font-family: sans-serif;
  letter-spacing: 4px;
  font-size: 22px;
  padding: 20px 48px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  &:hover {
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0007);
  }
  border-radius: 15px;
}
@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
