*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    margin: 40px 90px;
    max-width: 1400px;
}
.center{
    text-align: center;
}

.dash{
    margin: 4px 0;
    width: 10%;
    height: 2px;
    background-color: black;
    transition: .7s ease-in-out;
}
.btns{
    text-align: center;
    text-decoration: none;
    width: 250px;
    height: 70px;
    background-color: #2B2B2B;
    color: #2B2B2B;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 22px;
    padding: 20px 48px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    &:hover{
        -webkit-box-reflect: below 0px linear-gradient(transparent, #0007);
    }
    
}
@keyframes rotate {
    0%{   
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}