.section1{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
.section1_left{
    position: relative;
    top: 50px;}
.section1_title{
    color: white;
    font-size: 70px;
    font-family: sans-serif;
    letter-spacing: 3px;
}
.section1_desc{
    color: white;
    font-size: 20px;
    width: 620px;
    letter-spacing: 1px;
    font-family: sans-serif;
    margin-top: 30px;
    color: rgb(167, 165, 165);
    margin-bottom: 50px;
}
.section1_right_img{
    display: flex;
    align-items: center;
    width: 438px;
    height: 438px;
    border-radius: 50%;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 530px;
    margin-bottom: 50px;
}

.logos_apps{
    margin: 100px 15px;
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    width: 35px;
    border-radius: 5px;
    height: 35px;
    & path{
    transition: .6s ease-in-out;
    }
    &:hover{
        path{
            fill: #03E8F3;

        }
    }
}
.btn_portfolio{
    transform: all .3s;
    &::after{
        content: "PORTFOLIO";
        position: absolute;
        color: white;
        background-color: #2B2B2B;
        top: 2px;
        left: 2px;
        padding: 20px 0;
        width: 245px;
        height: 25px;
        transition: all .3s;
    }
    &::before{
        content: "";
        background-image: conic-gradient(
            #0f0 30deg,
            transparent 180deg
        );
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        animation: rotate 1.3s linear infinite,;
        z-index: 0;
    }
}

.btn_portfolio:hover{
    background-color: #0f0;
    color: #000;
    box-shadow: 0 0 10px #0f0,
    0 0 0px #0f0,
    0 0 0px #0f0,
    0 0 200px #0f0,
    0 0 0px #0f0,;
    &::after{
        background-color: #0f0;
        color: black;
    }
    
}
.btn_about_me:hover{
    background-color: #03E8F3;
    color: #000;
    box-shadow: 0 0 10px #03E8F3,
    0 0 0px #03E8F3,
    0 0 0px #03E8F3,
    0 0 200px #03E8F3,
    0 0 0px #03E8F3,;
    &::after{
        background-color: #03E8F3;
        color: black;
    }
}
.btn_about_me{
    transform: all .3s;
    &::after{
        content: "ABOUT ME";
        position: absolute;
        color: white;
        background-color: #2B2B2B;
        top: 2px;
        left: 2px;
        padding: 20px 0;
        width: 245px;
        height: 25px;
        transition: all 1.3s;
    }
    &::before{
        content: "";
        background-image: conic-gradient(
            #03E8F3 30deg,
            transparent 180deg
        );
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        animation: rotate 1.3s linear infinite,;
        z-index: 0;
    }
}
