.section1 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
.section1_left {
  position: relative;
  top: 50px;
}
.section1_title {
  color: white;
  font-size: 70px;
  font-family: sans-serif;
  letter-spacing: 3px;
}
.section1_desc {
  text-align: center;
  color: white;
  font-size: 20px;
  width: 620px;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-top: 30px;
  color: rgb(167, 165, 165);
  margin-bottom: 50px;
}
.section1_right_img {
  display: flex;
  align-items: center;
  width: 438px;
  height: 438px;
  border-radius: 50%;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 530px;
  margin-bottom: 50px;
}

.logos_apps {
  margin: 100px 15px;
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  width: 35px;
  border-radius: 5px;
  height: 35px;
  & path {
    transition: 0.6s ease-in-out;
  }
  &:hover {
    path {
      fill: #03e8f3;
    }
  }
}
// background-color: #0f0;
// background-color: #03e8f3;

// .btn_portfolio {
//   transform: all 0.3s;
// }

// .btn_portfolio:hover {
//   background-color: #0f0;
//   color: #000;
//   box-shadow: 0 0 10px #0f0, 0 0 0px #0f0, 0 0 0px #0f0, 0 0 200px #0f0,
//     0 0 0px #0f0;
// }
// .btn_about_me:hover {
//   background-color: #03e8f3;
//   color: #000;
//   box-shadow: 0 0 10px #03e8f3, 0 0 0px #03e8f3, 0 0 0px #03e8f3,
//     0 0 200px #03e8f3, 0 0 0px #03e8f3;
// }
// .btn_about_me {
//   transform: all 0.3s;
// }
