@media only screen and (max-width: 1300px) {
  .section1 {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1100px) {
  .section1_title {
    font-size: 55px;
    letter-spacing: 5px;
  }
  .section1_desc {
    font-size: 17px;
    width: 450px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  .section1_right_img {
    width: 400px;
    height: 400px;
  }
  .buttons {
    width: 420px;
  }

  .btns {
    width: 200px;
    height: 60px;
    letter-spacing: 4px;
    font-size: 18px;
    padding: 20px 0;
  }
  .logos_apps {
    margin: 100px 15px;
    width: 200px;
  }
  .logo {
    width: 33px;
    height: 35px;
  }
  .btn_portfolio {
    transform: all 0.3s;
    &::after {
      width: 195px;
      height: 25px;
    }
  }
  .btn_about_me {
    transform: all 0.3s;
    &::after {
      width: 195px;
      height: 25px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .section1 {
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .section1_title {
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
  }
  .section1_desc {
    text-align: center;
    font-size: 15px;
    width: 450px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .section1_right_img {
    width: 300px;
    height: 300px;
  }
  .buttons {
    width: 420px;
    margin: 0 auto;
  }

  .logos_apps {
    margin: 50px auto;
    width: 200px;
  }
  .nav {
    padding: 10px 50px;
  }

  .nav_logo {
    font-size: 35px;
  }
  .navbar {
    width: 420px;
  }
  .navbar_item {
    padding-top: 15px;
  }
  .navbar_item_link {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 10px 30px;
  }
  .site-header--open .site-header__sitenav {
    display: block;
    position: absolute;
    background-color: black;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0.8;
  }
  .header {
    position: relative;
    z-index: 1;
  }
  .site-header__sitenav-toggler {
    width: 40px;
    height: 25px;
    border: 1px solid transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    &-style {
      width: 100%;
      height: 4px;
      background-color: white;
    }
  }
  .site-header__sitenav {
    display: none;
  }
  .navbar {
    flex-direction: column;
    width: 100%;
  }
  .navbar_item_link {
    width: 100%;
  }
  .info_right {
    margin: 0 auto;
  }
  .footer_text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 415px) {
  .nav {
    padding: 5px 30px;
    &_logo {
      font-size: 28px;
    }
  }

  .info_right {
    margin: 0 auto;
  }
  .section1_left {
    position: relative;
    top: 50px;
  }
  .section1_title {
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
  }
  .section1_desc {
    font-size: 15px;
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 22px;
  }
  .section1_right_img {
    width: 238px;
    height: 238px;
  }
  .buttons {
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    height: 125px;
  }
  .btns {
    padding-bottom: 35px;
  }
  .logos_apps {
    margin: 50px auto;
    width: 200px;
  }
  .logo {
    width: 25px;
    height: 25px;
  }
  .btns {
    font-size: 15px;
    height: 50px;
  }

  .footer_text {
    font-size: 15px;
  }
}
